@tailwind base;
@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}
@tailwind components;
@tailwind utilities;

body {
  background: black;
  position: relative;
}

.react-calendar__tile:disabled {
  background-color: rgba(150, 0, 0, 0.4) !important;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
